#cabecalho{
    text-align: center;
}

#titulo{
    background-color: rgb(8, 189, 89);
    font-size: x-large;
    font-weight: bold;
}

body{
    font-family: 'Architects Daughter', cursive;
}

img{
    width: 250px;
    height: 250px;
}

#profile{
    width: 50px;
    height: 50px;
    margin-left: 2%;
    float: right;
}

#produto{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 20%;
}

#logo{
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 5%;
}

#menu{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 9%;
}

#menupesquisa{
    text-align: center;
    margin-right: 5%;
}

a{
    text-decoration-line: none;
    font-weight: bold;
}

footer{
    clear: both;
    margin-top: 40%;
    text-align: center;
}